<!DOCTYPE html>
<html>
	<head>
		<style>
		#credits
		{
			position: absolute;
			bottom: 10px;
			right: 10px;
			font-size: 12px;
			color: white;
		}

		/* HEADER */
		#title
		{
			color: white;
			font-size: 280%;
			padding-top: 10px;
			text-align: center;
			top: 50%;
			left: 50%;
		}
		#caption
		{
			color: white;
			font-size: 120%;
			text-align: center;
			top: 50%;
			left: 50%;
		}

		/* NAVIGATION PANE */
		#navigationPane
		{
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -150px;
			margin-left: -450px;
		}
		[name=navOption]
		{
			-webkit-transition-duration: 0.3s;
			transition-duration: : 0.3s;
			background-color: #000000;
			color: white;
			width: 100px;
			height: 60px;
			box-shadow: -4px -4px #999;
		}
		[name=navOption]:hover
		{
			background-color: #ffffff;
			color: black;
			
		}
		[name=navOption]:active
		{
			transform: translateX(-4px) translateY(-4px);
			box-shadow: -2px -2px #111;
		}

		/* MAIN WINDOW */
		#mainWindow
		{
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -200px;
			margin-left: -300px;

			height: 400px;
			width: 600px;
			border: 1px solid white;
			font-size: 100%;
			color: white;
			text-align: left;
			background-color: #000000;
		}

		</style>
		<meta charset=utf-8>
		<title>Portfolio</title>
	</head>
	<body style="background-color: black">
	

		<div id="credits">
		Created by Sunil Rao
		</div>

		<div id="header">
			<div id="title" align="center">Sunil Rao</div>
			<div id="caption" align="center">Interactive Media Creator & Full Stack Web Developer</div>
			<hr>
		</div>

		<div id="navigationPane" align="center">
			<button name="navOption" value="home">Home</button>
			<br><br>
			<button name="navOption" value="work">Work</button>
			<br><br>
			<button name="navOption" value="resume">Resume/CV</button>
			<br><br>
			<button name="navOption" value="about">About</button>
		</div>

		
		<div id="mainWindow" align="center">
			<div id="homeWindow">
				Welcome!
				<br>
				This is the home page.
			</div>

			<div id="workWindow">
				Welcome!
				<br>
				This is the work page.
			</div>

			<div id="resumeWindow">
				Welcome!
				<br>
				This is the Resume/CV page.
			</div>

			<div id="aboutWindow">
				Welcome!
				<br>
				This is the about page.
			</div>
		</div>
		

		<!-- three.js background animation !-->
		<div id="bgAnimation" style="width:100%; height:10%; margin:0">
		<script src="/js/three.js"></script>
		<script src="/js/BackgroundAnimation.js"></script>
		</div>

		<script src="/js/Website.js"></script>
	</body>
</html>